	@model Entities.Concrete.Blockchain

<!DOCTYPE html>
<html>


<!-- Mirrored from qr.balparmak.com.tr/?lang=tr&code=WKXJ5CZVPD&view=source by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 26 Mar 2022 13:27:49 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0' >

	<meta name="keywords" content="E-Ticaret,alışveriş,alisveris,ucuz,ucuzluk,sipariş,siparis,taksit,havale,kredi kartı,zaf,qr kod, qr,barkod,barcode" />
	<meta name="description" content="Özenle seçilen bal Balparmak, ürün kalitesindeki süreklilik ve yüksek tüketici güveni ile Türkiye'nin lider bal markasıdır. " />
	<meta name="copyright" content="HeliumGo - Dijital Deneyim Ajansı" />

	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="-1">
	<meta http-equiv="pragma" content="no-cache">

	<title>Tarladan Tüketiciye</title>
	<meta property="og:url" content="index.html"/>
	<meta property="og:image" content="image/cover.jpg" />
	<meta property="og:image:type" content="image/jpg" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="627" />
	<meta property="og:type" content="website" />

	<meta name="twitter:image" content="image/cover.jpg" />
    <meta name="twitter:card" content="summary" />

	<link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
	<link rel="shortcut icon" href="/image/favicon.png">

	<link rel="stylesheet" type="text/css" href="/css/main25e6.css?0.0.1">
</head>

<body class="migros">


	<div id="overlay" style="
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	"></div>


	<div id="wrap" class="">

		<form id="send" style="display: none;">
			<div class="trigger-close trigger-close-send"></div>
			<div class="box center-vh">
			
				<div><input type="text" class="form-control" name="name" id="form-name" placeholder="Ad, Soyad"></div>
				<div><input type="text" class="form-control" name="email" id="form-email" placeholder="E-Posta"></div>
				<div><input type="text" class="form-control" name="phone" id="form-phone" placeholder="Telefon"></div>
				<div class="form-control-group">
					<div class="form-control checkbox">
						<input type="checkbox" name="confirmemail" id="form-confirmemail" value="true">
						<label for="form-confirmemail"></label>
					</div>
					<span>E-postayla kampanya ve yeniliklerden<br> haberdar olmak istiyorum.</span>
				</div>
				<div class="form-control-group">
					<div class="form-control checkbox">
						<input type="checkbox" name="confirmsms" id="form-confirmsms" value="true">
						<label for="form-confirmsms"></label>
					</div>
					<span>SMS’le kampanya ve yeniliklerden<br> haberdar olmak istiyorum.</span>
				</div>
				<div><a class="btn trigger-submit-send">GÖNDER</a></div>
			</div>
			<input type="hidden" name="lang" id="form-lang" value="tr">
			<input type="hidden" name="codevalue" id="form-codevalue" value="BMS18.0003">
			<input type="hidden" name="codeinput" id="form-codeinput" value="WKXJ5CZVPD">
			<input type="hidden" name="token" id="form-token" value="ce4b9dd9154604c6acae07488aee70d8">
		</form>


		<div class="page">

			

			

			

			

			


						

						<div class="toolbar">
				<a class="action" href="@Url.Action("Index","Home")"><span class="arrow"></span>Geri Dön</a>
				
			</div>
			<div class="item-list">

				<div class="row row-padding-small row-padding-bottom-small">
					@for (int i = 1; i < @Model.Chain.Count; i++)
					{
						<div class="col col-6">
							<div class="item-label" style="border: 1px black solid; text-align: center;">
								<a>Ad: @Model.Chain[i].Data.ProductName</a><br/>
								<a>Açıklama: @Model.Chain[i].Data.ProductDescription</a><br/>
								<a>Fiyat: @Model.Chain[i].Data.UnitPrice</a><br/>
							</div>
						</div>
					}
					
				</div>

			</div>
			

			
		</div>


	</div>


	<script>
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='../www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','UA-83592171-1','auto');ga('send','pageview');
	</script>


	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="js/main25e6.js?0.0.1"></script>
</body>

<!-- Mirrored from qr.balparmak.com.tr/?lang=tr&code=WKXJ5CZVPD&view=source by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 26 Mar 2022 13:28:07 GMT -->
</html>